@use './mixins.scss' as *;
@use './variables.scss' as *;
@import './default.css';

// @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap');

body{
    background-color: white;
    font-family: 'Roboto', sans-serif;
}

.container{
    max-width: 1216px;
    margin: 0 auto;
    padding: 0 15px;
    height: 100%;
}