/// @include aspect-ratio-modern(16, 9);
@mixin aspect-ratio-modern($width, $height) {
  aspect-ratio: #{$width} / #{$height};

  @supports not (aspect-ratio: 1 / 1) {
    position: relative;
    padding-top: calc(#{$height} / #{$width} * 100%);

    > * {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}

/// @include text(16px, 24px, 400);
@mixin text($size, $lineHeight, $weight: 400) {
  font-size: $size;
  line-height: $lineHeight;
  font-weight: $weight;
}

/// @include fluid-text(14px, 18px, 20px, 28px);
@mixin fluid-text($minSize, $minLH, $maxSize, $maxLH) {
  font-size: clamp($minSize, 2vw, $maxSize);
  line-height: clamp($minLH, 3vw, $maxLH);
}
